<p>
Coursemology is a free educational platform. Our goal is to help teachers
bring fun and engage students in learning!
</p>
<p>
Become a lecturer and integrate the fun into your class!
</p>
<a href="<%= new_role_request_path %>" class="btn btn-primary">Request to be a lecturer</a>
