<meta name="viewport" content="width=device-width">

<div class="hero-unit about_quote">
	<div class="row-fluid">
		<div class="span3"></div>
		<div class="span8">
			<h1>"Learning should be all about having fun."</h1>
			<p>We are working hard to realise this dream.</p>
		</div>
		<div class="span1"></div>
	</div>
</div>


<div class="row-fluid">
	<div class="span2"></div>
	<div class="span8 about_wrapper">
		<div class="row-fluid">
			<div class="about_us">
				<h2>Our Story</h2>
				<div class="row-fluid">
					<div class="span2"></div>
					<div class="span8">
						<p>
							Coursemology is a gamified learning platform, built by teachers, for teachers. Based in Singapore, Coursemology is built to allow teachers do what they do best - <em>Teach</em>. <br><br> <u>Our Vision</u>: To make Technology Easy for Educators, Increase Student Engagement and Make Learning Fun!
						</p>
					</div>
					<div class="span2"></div>
				</div>
			</div>
		</div>

		<div class="row-fluid">
			<div class="about_us">
				<h2>Instructors</h2>
				<div class="span2"></div>
				<div class="span8">
					<p>
						We have powerful features to enhance teaching effectiveness. Developed together with actual users, Coursemology is used and loved by both teachers and students. 
					</p>
				</div>
				<div class="span2"></div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span1"></div>
			<div class="span10">
				<div class="span4 about_us features">
					<img src="/images/feature-analytics.png" class="about_img"><p></p>
					<h4>Teaching analytics at all levels</h4>
				</div>
				<div class="span4 about_us features features_mid">
					<img src="/images/feature-ui.png" class="about_img"><p></p>
					<h4>Intuitive user interface</h4>	
				</div>
				<div class="span4 about_us features">
					<img src="/images/feature-gamify.png" class="about_img"><p></p>
					<h4>Gamify the learning experience</h4>
				</div>
			</div>
			<div class="span1"></div>
		</div>
		<br>
		<div class="row-fluid">
			<div class="span2"></div>
			<div class="about_us span8">
				<p>
					Add in some reviews?
				</p>
				<p>
					To get started on teaching a course on Coursemology, sign up as an instructor!
				</p>
				<div class="row-fluid">
					<div class="span1"></div>
					<div class="span10">
						<p>
							<a href="<%= new_role_request_path %>" class="btn btn-large btn-success btn-block about_signup_button">
								Request to be an Instructor
							</a>
						</p>
					</div>
					<div class="span1"></div>
				</div>
			</div>
			<div class="span2"></div>
		</div>

		<div class="row-fluid">
			<div class="about_us">
				<h2>
					Meet the Team
				</h2>
				<div class="row-fluid">
					<div class="span2"></div>
					<div class="span8">
						<div class="row-fluid">
							<div class="span2 about_us">
								<a class="team_tooltip" 
									data-content="Joel is a third-year undergraduate student at the National University of Singapore. He has worked on a large variety of projects, spanning system security, developer tools, utilities, line-of-business applications and even the Linux kernel." 
									data-title="Joel Low">
									<img src="https://s.gravatar.com/avatar/157127ea0cb407f9d190fa2850b6cfb3?s=100" class="about_profile_pic">
								</a>
								<br>
								<a href="https://github.com/lowjoel" target="_blank">
									<i class="icon-github icon-2x"></i>
								</a>
							</div>
							<div class="span2 about_us">
								<a class="team_tooltip" 
									data-content="A driven and creative person, Yang Shun's main passions lie in coding, designing and teaching. Having spent a year in Silicon Valley as a Software Engineering intern at a bay area startup, he has experience in web development, mobile development and design. He also likes to impart knowledge to others and has found interest in teaching, actively serving as a tutor in school." 
									data-title="Tay Yang Shun">
									<img src="http://www.gravatar.com/avatar/66eca275a85a6a0c06b0a0f7039b074b?s=100" class="about_profile_pic">
								</a>
								<br>
								<a href="https://github.com/yangshun" target="_blank">
									<i class="icon-github icon-2x"></i>
								</a>
							</div>
							<div class="span2 about_us">
								<a class="team_tooltip" 
									data-content="A computer science student at NUS who spends way too much time editing Wikipedia."
									data-title="Chen Minqi">
									<img src="http://www.gravatar.com/avatar/49a3e4d86a545a922407b3c6a124a38e?s=100" class="about_profile_pic">
								</a>
								<br>
								<a href="/#" target="_blank">
									<i class="icon-github icon-2x"></i>
								</a>
							</div>
							<div class="span2 about_us">
								<a class="team_tooltip" 
									data-content="Jerome worked on the initial implementation of Coursemology's Lesson Plan and Workbin." 
									data-title="Jerome Cheng">
									<img src="http://www.gravatar.com/avatar/971950759f42af8ce147c0d84ee25e7b?s=100" class="about_profile_pic">
								</a>
								<br>
								<a href="https://github.com/jcheng31" target="_blank">
									<i class="icon-github icon-2x"></i>
								</a>
							</div>
							
							<div class="span2 about_us">
								<a class="team_tooltip" 
									data-content="" 
									data-title="Tay Yang Shun">
									<img src="http://www.gravatar.com/avatar/66eca275a85a6a0c06b0a0f7039b074b?s=100" class="about_profile_pic">
								</a>
								<br>
								<a href="/#" target="_blank">
									<i class="icon-github icon-2x"></i>
								</a>
							</div>
							<div class="span2 about_us">
								<a class="team_tooltip" 
									data-content="" 
									data-title="Tay Yang Shun">
									<img src="http://www.gravatar.com/avatar/66eca275a85a6a0c06b0a0f7039b074b?s=100" class="about_profile_pic">
								</a>
								<br>
								<a href="/#" target="_blank">
									<i class="icon-github icon-2x"></i>
								</a>
							</div>

						</div>
					</div>
					<div class="span2"></div>
				</div>
			</div>
		</div>

		<div class="row-fluid">
			<div class="about_us">
				<h2>Contributions</h2>
				<div class="row-fluid">
					<div class="span2"></div>
					<div class="span8">
						<p>
							We welcome suggestions on features or bug reports. These can be posted as issues on <a href="https://github.com/Coursemology/coursemology.org/issues?state=open" target="_blank" class="about_link">Github</a>. To avoid duplication, do check if these issues are open topics which the team is working on. 
						</p>
						<p>
							Coursemology is currently supported by teaching grants from the National University of Singapore.	Developers interested in contributing are welcome - please get started at <a href="https://github.com/Coursemology/coursemology.org" target="_blank" class="about_link">Github</a>!
						</p>
						<p>
							<iframe src="http://ghbtns.com/github-btn.html?user=Coursemology&repo=coursemology.org&type=watch&count=true"
						  allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

							<iframe src="http://ghbtns.com/github-btn.html?user=Coursemology&repo=coursemology.org&type=fork&count=true"
						  allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
						</p>
						<br><br>
						<p class="about_license">
							Coursemology.org's content is released under the <a href="http://opensource.org/licenses/MIT" target="_blank" class="about_link">MIT License</a>.
						</p>
					</div>
					<div class="span2"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="span2"></div>
</div>