<p>
  Feedback and questions are welcome!  Please email: <script>document.write('<a href="mailto:' + email() + '">' + email() + '</a>');</script><a href="mailto:coursemology@gmail.com">coursemology@gmail.com</a>.

</p>
<!--<div id="contact_form" class="offset1" style="">-->
  <!--<form method="POST">-->
    <!--<label>Your email:<br><input type="text" name="email"></label>-->
    <!--<br>Feedback<br><textarea style="width:45%;min-width:300px" name="feedback"></textarea>-->
    <!--<br>-->
    <!--<input type="submit">-->
  <!--</form>-->
<!--</div>-->