<h3>Useful links:</h3>
<ol>
  <li><a href="http://www.slideshare.net/luoyanjie/1-creating-your-course-and-tweaking-the-settings">Creating your course and tweaking the settings</a></li>
  <li><a href="http://www.slideshare.net/luoyanjie/2-creating-gamification-elements">Creating gamification elements</a></li>
  <li><a href="http://www.slideshare.net/luoyanjie/3-creating-your-questions">Creating your questions</a></li>
  <li><a href="http://www.slideshare.net/luoyanjie/4-enrolling-your-students">Enrolling your students</a></li>
  <li><a href="http://www.slideshare.net/luoyanjie/5-monitoring-your-students">Monitoring your students</a></li>
  <li><a href="http://www.slideshare.net/luoyanjie/6-tweaking-the-settings">Tweaking the settings</a></li>
</ol>





