<div class="row-fluid">
  <div class="hero-unit">
    <h1>JFDI Academy</h1>
    <p>Learning is fun</p>
  </div>
  <div>
    <%= render :partial => "courses/thumbnails", :locals => { :courses => @courses } %>
  </div>
</div>
