<div class="row-fluid">
  <div class="hero-unit">
    <h1>Coursemology</h1>
    <p>Making your class a world of games in a universe of fun.</p>
  </div>
  <div>
    <%= render :partial => "courses/thumbnails", :locals => { :courses => @courses } %>
  </div>
</div>
