<div class="page-header">
  <h1><%= @course.customized_title(Announcement.to_s).singularize %></h1>
</div>
<div class="announcement">
  <h3><%= @announcement.title %></h3>
  <p><%= @announcement.description.html_safe %></p>
  <i><%= @announcement.publish_at.to_formatted_s(:long) %></i>
</div>
