<div>
  <h2><%= milestone.title %></h2>
  <table class="table">
    <tbody>
    <% milestone.entries.each {|entry| %>
    <%= render :partial => 'lesson_plan/entry', locals: { :entry => entry } %>
    <% } %>
    </tbody>
  </table>
</div>