<div>
<a class="lesson-plan-anchor" name="top"></a>
<h1>Lesson Plan</h1>
<% if can? :manage, LessonPlanEntry %>
<%= link_to "New Entry", new_course_lesson_plan_entry_path(), :class => "btn btn-primary" %>
<%= link_to "New Milestone", new_course_lesson_plan_milestone_path(), :class => "btn btn-success" %>
<a id="lesson-plan-open-milestone-generator" data-toggle="modal" data-target="#lesson-plan-multi-milestone" class="btn btn-warning">
  Generate Milestones
</a>
<% end %>
<span class="pull-right btn-group">
<a id="lesson-plan-hide-all" class="btn">Collapse All</a>
<a id="lesson-plan-show-all" class="btn">Expand All</a>
</span>

<hr>

<% grouped_milestones = @milestones.group_by { |milestone| milestone.is_virtual } %>
<% grouped_milestones[false] = [] unless grouped_milestones[false] %>
<% grouped_milestones[true] = [] unless grouped_milestones[true] %>
<% sorted_milestones = grouped_milestones[false].sort_by { |milestone| milestone.end_at } + grouped_milestones[true] %>
<% sorted_milestones.each { |milestone| %>
  <% if !milestone.is_virtual || milestone.entries.length  > 0 %>
    <%= render :partial => 'lesson_plan/milestone', locals: { :milestone => milestone } %>
  <% end %>
<% } %>

<a href="#top">Back to Top</a>
</div>
  
<% if can? :manage, LessonPlanEntry %>
  <div id="lesson-plan-multi-milestone" class="modal hide fade" data-backdrop="static">
    <form class="lesson-plan-milestone-generator-form">
      <div class="modal-header">
        <h3>Milestone Generator</h3>
      </div>
      <div class="modal-body hidden">
        <div id="modal-loading">
          <h2>Loading...</h2>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 100%;"></div>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="control-group">
          <label class="control-label" for="input-number-milestones">
            How many milestones should we create?
          </label>
          <div class="controls">
            <input type="number" id="input-number-milestones" required="required">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" for="input-length-milestones">
            How long is each milestone, in days?
          </label>
          <div class="controls">
            <input type="number" id="input-length-milestones" required="required">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" for="input-prefix-milestones">
            What should each milestone be prefixed with?
            <br>(For example, "Week" will generate "Week 1", "Week 2", and so on.)
          </label>
          <div class="controls">
            <input id="input-prefix-milestones" class="text_field">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" for="input-start-milestones">
            What day should the first milestone start on?
          </label>
          <div class="controls">
            <div class="datepicker-past input-append date">
              <input type="text" class="text_field" id="input-start-milestones" required="required">
              <span class="add-on">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input id="lesson-plan-done-generating" class="btn btn-primary" type="submit" value="Done" />
        <button data-dismiss="modal" class="btn">
          Cancel
        </button>
      </div>
      </form>
  </div>
<% end %>
