<h1>Lesson Plan</h1>
<% if can? :manage, LessonPlanEntry %>
<%= link_to "New Milestone", new_course_lesson_plan_milestone_path(), :class => "btn btn-success" %>
<%= link_to "New Entry", new_course_lesson_plan_entry_path(), :class => "btn btn-primary" %>
<% end %>
<a id="lesson-plan-hide-all" class="btn">Collapse All</a>
<a id="lesson-plan-show-all" class="btn">Expand All</a>

<hr>

<% grouped_milestones = @milestones.group_by { |milestone| milestone.is_virtual } %>
<% sorted_milestones = grouped_milestones[false].sort_by { |milestone| milestone.end_at } + grouped_milestones[true] %>
<% sorted_milestones.each { |milestone| %>
  <%= render :partial => 'lesson_plan/milestone', locals: { :milestone => milestone } %>
<% } %>
