<div>
  <div class="row">
    <div class="span5">
      <h1 class="heading-remove-margin">Lesson Plan: Mass Edit</h1>
    </div>
    <div class="pull-right">
      <a class="btn btn-primary">Done</a>
    </div>
  </div>
</div>