<div>
  <%= form_tag course_lesson_plan_bulk_update_path(@course), :method => 'POST' do %>
  <div class="page-header">
    <div class="row">
      <div class="span5">
        <h1>Lesson Plan: Overview</h1>
      </div>
      <div class="pull-right">
        <input type="submit" class="btn btn-primary" value="Done" />
      </div>
    </div>
  </div>

  <%= render :partial => 'lesson_plan/navigation' %>

  <div>
  <% @milestones.each { |milestone| %>
    <% actual_entries = milestone.entries.select { |e| !e.is_virtual?  } %>
    <% if !milestone.is_virtual? || actual_entries.length  > 0 %>
      <%= render :partial => 'lesson_plan/overview_milestone', locals: { :milestone => milestone } %>
    <% end %>
  <% } %>
  </div>
  <% end %>
</div>
