<div>
  <%= form_tag course_lesson_plan_bulk_update_path(@course), :method => 'POST' do %>
  <div class="row">
    <div class="span5">
      <h1 class="heading-remove-margin">Lesson Plan: Overview</h1>
    </div>
    <div class="pull-right">
      <input type="submit" class="btn btn-primary" value="Done" />
    </div>
  </div>

  <hr />
  <%= render :partial => 'lesson_plan/navigation' %>

  <div>
  <% grouped_milestones = @milestones.group_by { |milestone| milestone.is_virtual? } %>
  <% grouped_milestones[false] = [] unless grouped_milestones[false] %>
  <% grouped_milestones[true] = [] unless grouped_milestones[true] %>
  <% sorted_milestones = grouped_milestones[false].sort_by { |milestone| milestone.end_at } + grouped_milestones[true] %>
  <% sorted_milestones.each { |milestone| %>
    <% if !milestone.is_virtual? || milestone.entries.length  > 0 %>
      <%= render :partial => 'lesson_plan/overview_milestone', locals: { :milestone => milestone } %>
    <% end %>
  <% } %>
  </div>
  <% end %>
</div>
