<%- model_class = Mcq -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<p><%= @mcq.description.html_safe %></p>

<p>Link to add answer here</p>

<br><i>List of current answer here</i>

<br><i>Since this is an mcq question, need to specify which answer is the correct answer</i>

<br><i>This is still the admin/ lecturer view</i>


