<div class='forum'>
  <%= render :partial => 'header', :locals => { :forum => @forum } %>

  <%= forem_pages_widget(@topics) %>
  <table class='topics table-striped table' cellspacing='0'>
    <thead>
    <tr>
      <th class="icon"></th>
      <th class="byline">&nbsp;</th>
      <th class="latest-post">Latest</th>
      <th class="posts-count">Posts</th>
      <th class="views-count">Views</th>
    </tr>
    </thead>
    <tbody>
    <% if @topics.empty? %>
      <tr><td colspan='5' align='center'>There are currently no topics in this forum</td></tr>
    <% else %>
      <% @topics.each do |t| %>
        <%= render partial: 'forums/topics/topic', locals: { topic: t } %>
      <% end %>
    <% end %>
    </tbody>
  </table>
  <%= forem_pages_widget(@topics) %>
</div>
