Hello, <%= @user.name %>:

<p>Your course: <strong><%= @title %></strong> has been deleted.</p>

<p>If you have any question, please contact us at coursemology@gmail.com</p>

Best Regards,
<br/>

The Coursemology Team
