<p>Hello <%= @user.name %>,</p>

<p>As communicated earlier, we are in the process of migrating each course from the current `coursemology.org` to `beta.coursemology.org`.</p>

<p>Your course titled <%= link_to @course.title, course_url(@course) %> is scheduled to be migrated within the next few minutes.</p>

<p>Once migration has started, you, your staff and students will not be able to access this course until migration has completed.</p>

<p>We expect this migration to complete within 2 days. Once done, we will send you an email to inform you and you will be able to access the migrated course with the same credentials.</p>

<p>Feel free to email us at coursemology@gmail.com for any queries.</p>

<p>We apologize for any inconvenience caused. Thank you and have a good day!</p>

<p>
  Best Regards,<br />
  The Coursemology Team
</p>
