Hello, <%= @user_name %>:

<p>Your email has been updated to : <%= @new_email %></p>
<p>Your old email address: <%= @email_was %> won't be able to sign in your account any more.</p>
<p>Please use the new one to sign in to Coursemology in the future.</p>
Best Regards,
<br/>

The Coursemology Team
