Dear <%= @user_name %>:

<p>You are invited by <%= @lecturer %> to register for course: <%= @course_title %> on <b>Coursemology</b>.</p>
<p><a href="<%= @redirect_url %>"> Click here</a> to accept the invitation.</p>

Best Regards,
<br/>

The Coursemology Team


