<p>Dear <%= @user.name %>,</p>

<p>We have completed our migration from v1 to v2. The old materials are currently still available at https://v1.coursemology.org/, but once we ascertain that there are no problems with the migration to v2, v1.coursemology.org will be decommissioned. Please take some time to check over your migrated course materials on https://coursemology.org/ and let us know at coursemology@googlegroups.com latest by 23 Jul 2017. </p>

<p>If there are any issues, we will try to recover/fix from you. Once v1.coursemology.org is decommissioned, it would probably not be possible for us to recover if there are any problems. Thanks for your patience.</p>

<p>
  Best Regards,<br />
  The Coursemology Team
</p>
