Hello, <%= @user.name %>

<p>Please be reminded that: <a href="<%= @redirect_url %>"> <%= @assessment.title %></a> is due on <%= @assessment.close_at %></p>

Best Regards,
<br/>

The Coursemology Team
