Hello, <%= @user.name %>!

<p><%= @request_user.name %>(<%= @request_user.email %>) requests to become a lecturer.</p>

<p>Please <%= link_to "click here", role_requests_url %> to review the request.</p>

Best Regards,
<br/>

The Coursemology Team
