Hello, <%= @user.name %>!

<p>New announcement from course: <%= @course.title %></p>
<blockquote>
  <%= @ann.description.html_safe %>
</blockquote>

<p><a href="<%= course_announcement_url(@course, @ann) %>"> Click here</a> to view.</p>

Best Regards,
<br/>

The Coursemology Team
