Hello, <%= @user.name %>!

<p>There is a new request to become a lecturer.</p>

<p>Please <%= link_to "click here", role_requests_url %> to review the request.</p>

Best Regards,
<br/>

The Coursemology Team
