Hello, <%= @user_name %>!

<p>New announcement from course: <%= @course_name %></p>
<blockquote>
  <%= @ann.html_safe %>
</blockquote>

<p><a href="<%= @redirect_url %>"> Click here</a> to view.</p>

Best Regards,
<br/>

The Coursemology Team
