Hello, <%= @user.name %>!

<p>There is a new submission by <%= @sbm.std_course.name %>.
Please <a href="<%= @redirect_url %>"> click here</a> to review and grade it.
</p>

Best Regards,
<br/>

The Coursemology Team
