Hello, <%= @user.name %>!

</p>You have been enrolled into the course <%= link_to @course.title, course_url(@course) %> on Coursemology!</p>

<p><%= link_to "Click here", course_url(@course) %> to check out the course!</p>

Best Regards,
<br/>

The Coursemology Team
