Hello, <%= @user.name %>!

<p>You have been approved to be a lecturer on Coursemology!</p>

<p><a href="<%= new_course_url %>"> Click here</a> to create a new course and get started!</p>

Best Regards,
<br/>

The Coursemology Team
