Dear, User

<p>Please complete the following survey</p>

<p>Survey title : <%= @survey.title %> </p>

<p>If you have any question, please contact us at coursemology@gmail.com</p>

Best Regards,
<br/>

The Coursemology Team
