<input type="text" class="input-medium search-query" id="search_field"
       name="search" placeholder="Search name or email" value="<%= value if defined? value %>">
<button type="submit" class="btn">Search</button>


