<% if curr_user_course.is_staff? or current_user.is_admin? %>
    <ul class="nav nav-tabs">
	    <% if tab == 'index' %>
		    <li class="active">
    	<% else %>
	    	<li>
    	<% end %>
	    	<a href='<%= course_guilds_path(@course) %>'>Guild Leaderboard</a>
	    </li>
        <% if tab == 'guild' %>
            <li class="active">
        <% else %>
            <li>
        <% end %>
        <a href='<%= course_guild_management_path(@course) %>'>Manage Guilds</a>
        </li>
        <% if tab == 'manage' %>
            <li class="active">
        <% else %>
            <li>
        <% end %>
            <a href='<%= course_guild_users_path(@course) %>'>Manage Guild Users</a>
        </li>
        <% if tab == 'create' %>
            <li class="active">
        <% else %>
            <li>
        <% end %>
            <a href='<%= new_course_guild_path(@course) %>'>Create Guild</a>
        </li>
    </ul>
 <% end %>
