<div class="page-header">
  <h1>Enroll Requests</h1>
</div>

<% if @stuff_requests.size > 0 %>
  <h3>Stuff Requests:</h3>
  <%= render partial: "enroll_requests/list", locals: { requests: @stuff_requests, type: "stuff" } %>
<% end %>

<br/>

<% if @student_requests.size > 0 %>
  <h3>Student Requests:</h3>
  <%= render partial: "enroll_requests/list", locals: { requests: @student_requests, type: "student" } %>
<% end %>

<% if @stuff_requests.size + @student_requests.size == 0 %>
  <span>There is no outstanding request</span>
<% end %>
