<div class="alert alert-error hidden"></div>
<%- model_class = Training -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                   :default => "Edit #{@course.customized_title_by_model(Training).singularize}") %></h1>
</div>
<p><i>Click <%= link_to "here", course_assessment_training_path(@course, @training) %> if you wish to review the questions for this assignment.</i></p>
<%= render :partial => 'form' %>
