<div class="page-header">
  <h1><%= @survey.title %></h1>
</div>

<p><%= @survey.description.html_safe %></p>

<% if @survey.has_section? %>
    <%= render partial: "with_section_template" %>
<% else %>
    <%= render partial: "no_section_template" %>
<% end %>


<script>
  $(document).ready(function(){
      $("input[type='checkbox']").change(function(){
          var grp_cb = $('input[name="'+$(this).attr('name')+'"]:checked');
          console.log(grp_cb.length);
          if (grp_cb.length == 0) {
              return
          }
          var max = grp_cb.attr('max') - 0;
          if(!max) {
              return
          }
          if (grp_cb.length > max) {
              alert("Exceeds max responds limit.");
              $(this).attr('checked', false);
          }
      })
  });
</script>