<div class="page-header">
  <h1><%= @survey.title %></h1>
</div>

<p><%= @survey.description.html_safe %></p>

<% if @survey.has_section? %>
    <%= render partial: "with_section_template", locals: {mode: "Review"} %>
<% else %>
    <%= render partial: "no_section_template" %>
<% end %>
