<tr>
  <% if ach_req.id %>
    <input type="hidden" name="reqids[]" value="<%= ach_req.id %>" />
  <% else %>
    <input type="hidden" name="new_reqs[]" value="<%= ach_req.to_json %>" />
  <% end %>
  <td><p>Earn
    <%= link_to ach_req.req.title, course_achievement_path(@course, ach_req.req) %></p>
  </td>
  <td>
    <a href="#" class="btn remove-req">
      <i class="icon-remove"></i>
    </a>
  </td>
</tr>

