<div><%= style_format(q.description) %></div>
<br/>
<ul>
  <% q.options.each do |opt| %>
    <li class="checkbox-text">
      <input type="checkbox" disabled <%= "checked" if opt.correct? %> />&nbsp;
      <span><%= style_format opt.text %></span>
    </li>
  <% end %>
<br/>
</ul>

