<div class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>New Achievement!</h3>
  </div>
  <div class="modal-body popup-ach-content">
    <img class="pull-right popup-ach-icon" src="<%= achievement.icon_url %>">
    <%= achievement.title %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn popup-btn-close">Yay!</a>
  </div>
</div>

