<h1>Hello, <%= current_user.display_name || current_user.name %>!</h1>
<br/>
<%= link_to 'New Course',
            new_course_path,
            :class => 'btn btn-primary' %>

<%- model_class = Course -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<%= render :partial => "courses/thumbnails", :locals => { :courses => @courses } %>
