<div class='category'>
  <div id='forum_topic_links' class='btn-group pull-right'>
    <% unread = Forem::Post.unread_by(current_user).select { |p| p.topic.forum.category.id == @category.id } %>
    <% if unread.count > 0 %>
        <!--<%= link_to "Mark all as read", main_app.course_forums_mark_read_path(@course), :class => "btn" %>-->
    <% end %>
    <% if curr_user_course.is_staff? %>
        <%= link_to "Manage Forum Sections", main_app.course_forums_admin_path(@course), :class => "btn btn-primary" %>
    <% end %>
  </div>
  <%= render @category %>
</div>