<table class="table table-striped">
  <thead>
    <tr>
      <th width="5%">ID</th>
      <th width="20%">Student</th>
      <th>Assignment</th>
      <th width="20%">Submit time</th>
    </tr>
  </thead>
  <tbody>
    <% submissions.each do |sub| %>
      <tr>
        <td><%= link_to sub.id,
                        course_assignment_submission_path(@course, sub.assignment.id, sub) %></td>
        <td><%= sub.student.name %></td>
        <td><%= link_to sub.assignment.title,
                        course_assignment_path(@course, sub.assignment.id) %></td>
        <td><%= sub.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
