<tr>
  <td><%= f.input_field :name %></td>
  <td><%= f.input_field :pos %></td>
  <td><%= f.input_field :is_displayed, as: :boolean %></td>
  <td><%= f.input_field :is_enabled, as: :boolean %></td>
</tr>