<span><%= style_format(q.description) %></span>
<br/>
<ul>
  <% q.options.each do |opt| %>
      <li class="checkbox-text">
        <input type="checkbox" disabled />
        <span ><%= style_format opt.description%></span>
      </li>
  <% end %>
</ul>

