<table>
  <% tag_groups.each do |tag_group| %>
    <% if tag_group.tags.size > 0 %>
      <strong><%= tag_group.name %></strong>
      <table class="span8">
        <% tag_group.tags.each_with_index do |tag, i| %>
          <% if i % 4 == 0 %>
            <tr>
          <% end %>
          <td width="20%">
            <label class="checkbox">
              <input type="checkbox" name="tags[]" value="<%= tag.id %>"
                 <%= 'checked' if exist_tags_hash.has_key?(tag.id) %> >
               <%= tag.name %>
              </input>
            </label>
          </td>
          <% if i % 4 == 3 %>
            </tr>
          <% end %>
        <% end %>
      </table>
    <% end %>
  <% end %>
</table>
