<div class="post-content">
  <%= form.text_field :title, class: 'span7' %>
  <%= form.text_area :text , label: false, required: false, class: 'text_area span7 html-editor' %>
</div>
<% if reply_to %>
<%= form.hidden_field :parent_id, value: reply_to.id %>
<% end %>
