<h2>Edit</h2>

<%= simple_form_for @post, url: course_forum_topic_post_path(@course, @forum, @topic, @post, method: 'PUT') do |f| %>
  <%= render :partial => 'form', :locals => { reply_to: nil, form: f } %>
  <%= f.submit 'Save', :class => 'btn btn-primary' %>
<% end %>
