<% if !curr_user_course.new_record? and (survey.can_start? ||  can?(:manage, Survey)) %>
    <% submission = survey.submission_by(curr_user_course.id) %>
    <% if  !submission %>
        <a href="<%= new_course_survey_survey_submission_path(@course, survey) %>" class="btn btn-primary">Start</a>
    <% elsif submission.started? %>
        <a href="<%= edit_course_survey_survey_submission_path(@course, survey, submission) %>" class="btn">Continue</a>
    <% elsif submission.submitted? and survey.allow_modify? %>
        <a href="<%= edit_course_survey_survey_submission_path(@course, survey, submission) %>" class="btn">Update</a>
    <% else %>
        <a href="<%= course_survey_survey_submission_path(@course, survey, submission) %>" class="btn">Review</a>
    <% end %>
<% end %>