<% questions.each_with_index do |summary, i| %>
   <%= "#{i + 1}. " %><%= style_format(summary[:question].description) %>
    <% if summary[:question].is_essay? %>
        <ul style="margin-left: 6%; width: 90%; margin-top: 0px">
          <% summary[:responds].each do |resp| %>
              <% if resp.text.strip() != "" %>
                <li>
                  <div class="well">
                    <%= resp.text.html_safe %>
                  </div>
                </li>
              <% end %>
          <% end %>
        </ul>
    <% else %>
        <%= render partial: "mrq_summary", locals: {summary: summary} %>
    <% end %>
<% end %>