<% questions.each_with_index do |summary, i| %>
    <h3><%= "#{i + 1}. #{style_format(summary[:question].description)}" %></h3>
    <% if summary[:question].is_essay? %>
        <ol style="margin-left: 6%; width: 90%; margin-top: 0px">
          <% summary[:responds].each do |resp| %>
            <li>
              <div class="well">
                <%= resp.text.html_safe %>
              </div>
            </li>
          <% end %>
        </ol>
    <% else %>
        <%= render partial: "mrq_summary", locals: {summary: summary} %>
    <% end %>
<% end %>