<!--<span><%= q.description.html_safe %></span>-->
<span><%= style_format(q.description) %></span>
<br/>
<br/>
<ul>
  <% q.mcq_answers.each do |ans| %>
    <li class="checkbox-text">
    <input type="checkbox" disabled <%= "checked" if ans.is_correct %> />
    <span><%= style_format ans.text %></span>
  </li>
<% end %>
</ul>

