<span><%= style_format(q.description) %></span>
<br/>
<br/>
<ul>
  <% q.options.each do |opt| %>
    <li class="checkbox-text">
    <input type="checkbox" disabled <%= "checked" if opt.correct? %> />
    <span><%= style_format opt.text %></span>
  </li>
<% end %>
</ul>

