<%- model_class = Mcq -%>
<%- title = 'MCQ Question' -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "Edit #{title}") %></h1>
</div>
<%= render :partial => 'form' %>
