<div class="page-header">
  <h1>Student Summary</h1>
  <a href="<%= course_student_summary_export_path %>" class="btn btn-success" style="float: right; margin-right: 20px;width: 100px;margin-top: -30px">Export .csv</a>
  <!--<a href="#optionModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>-->
</div>

<ul class="nav nav-tabs">
  <li class="active">
    <a href='<%= course_student_summary_path(@course) %>'>Student Summary</a>
  </li>
  <li>
    <a href='<%= course_manage_group_path(@course) %>'>My Students</a>
  </li>
</ul>
<%= render partial: "student_summary" %>