<%- model_class = Course -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<%= render :partial => "courses/thumbnails", :locals => { :courses => @courses } %>
