<div>
  <h1 class="pull-left">Announcements</h1>
</div>

<div class="clearfix"></div>

<%= link_to "Add new",
  new_course_announcement_path(@course) %>

<% @announcements.each do |announcement| %>
  <%= render :partial => "announcements/one", :locals => { :announcement => announcement } %>
<% end %>
