<div class="alert alert-error hidden"></div>
<div class="page-header">
  <h1><%= "Update Lecturer Role Request" %></h1>
</div>

<% if current_user.is_lecturer? %>
    You are already given lecturer right!
<% else %>
    <%= render :partial => 'form' %>
<% end %>

