// Place all the styles related to the Admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.course-thumb-small {
  max-height: 50px;
  max-width: 50px;

}

.select-name {
  select {
    max-width: 100px;
  }
}

.select-status {
  select {
    max-width: 120px;
  }
}
.clickable-row:hover {
  cursor: pointer;
}

.courses-summary, .courses-search-summary {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.courses-summary:after, .courses-search-summary:after {
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}

.courses-summary:after {
  content: "Summary";
  color: #9da0a4;
}

.courses-search-summary:after {
  content: "Search Summary";
  color: #000000;
}
