// Place all the styles related to the Admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.course-thumb-small, .user-thumb-small {
  max-height: 50px;
  max-width: 50px;

}

.select-name, .select-role {
  select {
    max-width: 100px;
    margin-bottom: 0px;
  }
}

.select-status {
  select {
    max-width: 120px;
    margin-bottom: 0px;
  }
}
.clickable-row:hover {
  cursor: pointer;
}

.courses-summary, .courses-search-summary, .users-summary {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.courses-summary:after, .courses-search-summary:after, .users-summary:after {
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}

.courses-summary:after, .users-summary:after {
  content: "Summary";
  color: #9da0a4;
}

.courses-search-summary:after {
  content: "Search Summary";
  color: #000000;
}

.users-sidebar > li {

}

.users-sidebar .item{
  padding: 8px 10px;
  display: block;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
  border: 1px solid transparent;
  outline: 0;
}
.users-sidebar > .active > a {
  background: #fff;
  border: 1px solid #eee;
  color: #333333;
  font-weight: bold;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  border-left: 1px solid transparent;
}


.sunken-menu-contents {
  padding: 12px 0 15px;
  box-shadow: inset 1px 0 0 #eee;
  background-image: -webkit-linear-gradient(left, #f6f6f6 0%, #fff 8px);
  background-image: -moz-linear-gradient(left, #f6f6f6 0%, #fff 8px);
  background-image: linear-gradient(to right, #f6f6f6 0%, #fff 8px);
}