/* Assignment questions is the basic unit of all questions types
(mission question, training question, mcq, coding question, etc)

In many places, like training/show & mission/show, the questions are put into a table
this table is styled based on the rules here*/


.asm-qns-table > .asm-qns > .asm-qn .asm-qn-handler,
.assignments-questions-table > .asm-qns > .asm-qn .asm-qn-handler {
  background-color: #E6E6E6;
  cursor: pointer;
}

.asm-qns-table > .asm-qns > .asm-qn .asm-qn-handler .handler-icon,
.asm-qns-table > .asm-qns > .asm-qn .asm-qn-handler .handler-text,
.assignments-questions-table > .asm-qns > .asm-qn .asm-qn-handler .handler-icon,
.assignments-questions-table > .asm-qns > .asm-qn .asm-qn-handler .handler-text {
  display: inline;
}

.asm-qns-table > .asm-qns > .asm-qn .asm-qn-handler .handler-text,
.assignments-questions-table > .asm-qns > .asm-qn .asm-qn-handler .handler-text {
  font-size: 1em;
  color: #333333;
  text-transform: uppercase;
}

.asm-qns-table > .asm-qns > .asm-qn .asm-qn-handler .handler-icon,
.assignments-questions-table > .asm-qns > .asm-qn .asm-qn-handler .handler-icon {
  margin-left: 10px;
  margin-top: 5px;
}

.qn-detail-div .asm-qn-handler {
  background-color: #f5f5f5;
}

.qn-detail-div .handler-icon {
  display: none;
}

.qn-detail-div .handler-text {
  display: inline;
  font-size: 1em;
  color: #333333;
  text-transform: uppercase;
}

.qn-detail-div {
  padding: 5px;
}

.qn-dup-action-div {
  padding: 5px;
  margin-bottom: 10px;
  background-color: #E6E6E6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}