// Place all the styles related to the CoursePreferences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.info-block {
  position: relative;
  margin: 15px 0;
  padding: 10px 10px 10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

tr.hidden_navbar_tr, td.hidden_navbar_td {
  display: none !important;
}
div.div-add-item-sidebar input{
  margin-bottom: 9px;
}
