// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.course-logo {
  height: 150px;
  width:  auto;
}

.course-thumbnails .media-heading {
  height: 60px;
  overflow-y: scroll;
}

.course-thumbnails {
  margin-left: auto;
  margin-right: auto;
}
