@import "bootstrap";
@import "font-awesome";

body {
  padding-top: 60px;
}

@import "bootstrap-responsive";

/* universal */
html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

h1 {
  margin-bottom: 20px;
}

.sidebar {
  min-height: 650px;

  i {
    font-size: 1.5em;
  }
}

.well {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.navbar-bottom .nav {
  display: block;
}

.navbar-bottom .nav li {
  display: block;
  float: left;
  padding-left: 15px;
}

.row-fluid .content {
  padding-top: 20px;
  margin-left: 20px;
}

.course-content {
  padding: 0px;
  margin-top: -20px;
}

.clearfix {
  clear: both;
}

.assignments h4 {
  color: inherit;
}

.assignments tr {
  min-height: 45px;
}

.mcq-right {
  border: 1px solid green;
  color: green;
  padding-left: 15px;
}

.mcq-wrong {
  border: 1px solid red;
  color: red;
  padding-left: 15px;
}

ul {
  list-style: none;
}

#dropzone {
  background: #D8EDE2;
  text-align: center;
  border: 3px dashed #aaa;
  padding: 80px;
}

#dropzone.in {
}

#dropzone.hover {
  border-color: #666;
  background: palegreen;
}

#dropzone.fade {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 1;
}

#new_wquestion_form {
  margin-top: 10px;
}

.exp-table {
  width: 20%;
}

.achievement-icon {
  width: 100px;
  height: 100px;
  margin-left: 10px;
}

.asm-min-grade-input {
  width: 20px;
}

.hidden {
  display: none;
}

.ach-won {
  background-color: palegreen;
}

.ach-normal {
  background-color: palered;
}

.ach-icon {
  width: 100%;
  max-height: 100%;
}

.achievement-list .icon-remove {
  color: red;
}

.achievement-list .icon-ok {
  color: green;
}

.form-mcq-answer {
  text-align: left;
  vertical-align: top;
}

.user-short-stat td, .user-short-stat th {
  text-align: center;
}

.user-short-stat td {
  font-size: 2em;
}

#logo {
  text-transform: none;
  font-size: 2em;
}

.user-profile-pic {
  max-width: 50px;
  max-height: 50px;
}

.course-logo, .course-logo-preview {
  width: 200px;
  max-height: 200px;
}

.asm-ach-icon, .asm-new-icon {
  width: 25px;
  height: 25px;
}

.future {
  background-color: #eee;
  opacity: 0.9;
}

.announcement {
  padding-left: 8px;
}

ul.sidenav {
  padding-left: 0px;
  padding-right: 0px;
}

.sidenav-count {
  text-color: #3B5998;
  font-weight: bold;
  padding: 0 6px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #D8DFEA;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.new {
  background-color: #D8DFEA;
}
