@import "bootstrap";
@import "font-awesome";

body {
  padding-top: 40px;
}

@import "bootstrap-responsive";

/* universal */
html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

h1 {
  margin-bottom: 20px;
}

.sidebar {
  min-height: 650px;

  i {
    font-size: 1.5em;
  }
}

.well {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.navbar-bottom .nav {
  display: block;
}

.navbar-bottom .nav li {
  display: block;
  float: left;
  padding-left: 15px;
}

.row-fluid .content {
  padding-top: 20px;
  margin-left: 20px;
}

.course-content {
  padding: 0px;
}

.clearfix {
  clear: both;
}

.assignments h4 {
  color: inherit;
}
