// Place all the styles related to the Guilds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.guild-table td {
  text-align: center;
  font-size: 120%;
}

.guild-table th {
  text-align: center;
  font-size: 120%;
}

.my-guild {
  font-weight: bold;
}