// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td.logo-container{
  text-align: center;
  width: 90px;
}

td h4.course-title{
  margin-left: 30px;
}

.course-thumb-middle{
  width: 70px;
  height: 70px;
}

div.my-course-container{
  float: none;
  margin: auto;
}
