// Place all the styles related to the MissionCodingQuestions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#template_code .CodeMirror-scroll {
  height: 470px !important;
}
