/* The following styles are used for PDF generation. */

body {
	background-color: transparent;
	padding: 0;
}

.page {
	display: block;
	clear: both;
	page-break-before: always;
}

.cos_code .cm-s-molokai {
	background: transparent;
	color: black;
}

iframe {
	border: 1px solid red;
}

.hidden-print {
	display: none;
}

.line-number {
	float: left;
	font-family: sans-serif;
	font-size: 9px;
	text-align: right;
	width: 22px;
	padding-right: 3px;
}

.line {
	margin-left: 22px;
}

#pdfbody, #pdfbody label, #pdfbody p, #pdfbody .comment {
	font-family: sans-serif;
}

#pdfbody .comment-box {
	clear: right;
	float: right;
	max-height: none;
	min-height: 18px;
	overflow: auto;
	position: static;
	width: 259px;
}

