<div class="page-header">
  <div class="media">
    <div class="pull-right">
      <img class="achievement-icon" src=<%= @achievement.icon_url %> >
    </div>
    <div class="media-body">
      <h2 class="media-heading"><%= @achievement.title %></h2>
      <p><%= @achievement.description %></p>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<% # TODO dependency %>

<% # TODO students who has won the achievemnt %>


