<table id='forums' class='forums table table-striped' cellspacing='0'>
  <thead>
  <tr>
    <th class="desc-and-last-post span9">&nbsp;</th>
    <th class="topics-count span1">Topics</th>
    <th class="posts-count span1">Posts</th>
  </tr>
  </thead>
  <tbody>
    <%= render category.forums %>
  </tbody>
</table>
