<div title='This item is linked with a Mission/Training.' rel='tooltip'>
  <a class='btn disabled'>
    <i class="icon-edit"></i>
  </a>
  <a class='btn btn-danger disabled'>
    <i class="icon-trash"></i>
  </a>
</div>
