<%- model_class = MaterialFolder -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "Create #{model_class.model_name.human}") %></h1>
</div>
<br/>
<%= render :partial => 'subfolder_form' %>
