<div class="nested-fields dependency-choice">

  <%= f.collection_select :dependent_on_ids,
                          @course.assessments.mission - [@mission.assessment] + @course.assessments.training,
                          :id, # calls the dependent assessment's ID
                          :get_title,
                          { include_blank: "No Dependency" ,
                            selected: f.object.id } %>

  <%= link_to_remove_association '<i class="icon-remove-sign"></i> Remove'.html_safe,
                                 f,
                                 class: "btn btn-warning btn-small" %>

</div>