<div class="alert alert-error hidden"></div>
<%- model_class = Assessment::Mission -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                   :default => "Edit #{@course.customized_title("Missions").singularize}") %></h1>
</div>
<p>Click <%= link_to 'here', course_assessment_mission_path(@course, @mission) %> if you wish to review the questions for this assignment.</p>
<%= render :partial => 'form' %>
