<ul class="nav nav-list">
  <li><a href="<%= course_path(@course) %>"><i class="icon-home"></i> Home</a></li>
  <li><a href="<%= course_announcements_path(@course) %>"><i class="icon-star"></i> Announcements</a></li>
  <li><a href="<%= course_assignments_path(@course) %>"><i class="icon-file"></i> Assignments</a></li>
  <li><a href="<%= course_students_path(@course) %>"><i class="icon-user"></i> Students</a></li>
</ul>
