<div class="row-fluid">
  <div class="span2 sidebar">
    <%= render "layouts/course_side_bar" %>
  </div>
  <div class="span8 content">
    <%= yield %>
  </div>
  <%= render "layouts/course_popup" %>
</div>

