<div class="row-fluid">
  <div class="span2 sidebar well">
    <img class="pull-left" src="<%= @course.logo_url %>" />
    <h3 class="banner-text"><%= @course.title %></h3>
    <hr/>
    <%= render "layouts/course_side_bar" %>
  </div>
  <div class="span8 content">
    <%= yield %>
  </div>
</div>

