<div class="container-fluid">
  <%= render "layouts/course_header" %>
  <div class="row-fluid">
    <div class="span2 sidebar">
      <%= render "layouts/course_side_bar" %>
    </div>
    <div class="span10">
      <%= yield %>
    </div>
  </div>
</div>

