<%= render "layouts/course_header" %>
<div class="row-fluid">
  <div class="span2 sidebar">
    Side-bar
    <!-- <%= render "layouts/course_side_bar" %> -->
  </div>
  <div class="span8 content">
    <%= yield %>
  </div>
</div>

