<div id="fb-root"></div>
<script>
    <% if !current_user and !logged_out %>
    window.fbAsyncInit = function() {
        FB.init({appId: '<%= Devise.omniauth_configs[:facebook].strategy.client_id %>', status: true, cookie: true, xfbml: true, oauth:true});

        FB.getLoginStatus(function(response) {
            if (response.status === 'connected') {

                $.post("/user/auto_login", {}, function(s){
                    window.location.reload();
                });
//                window.location.href = "/users/auth/facebook"
            }
        });
        //here to request feed to publish
    };
    (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));

    <% end %>

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=516060621765132";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>