<% unless defined?(style)%>
    <% style = "standard" %>
<% end %>
<div class="fb-like" style="float: right" data-href="https://www.facebook.com/coursemology" data-layout="<%= style %>" data-action="like" data-show-faces="false" data-share="false"></div>