<footer>
  <div class="navbar-bottom">
    <div class="container-fluid">
      <p class="pull-left">&copy; JFDI Academy 2012</p>
      <nav class="pull-right">
        <ul class="nav">
          <li><%= link_to "Term of Service", about_path %></li>
          <li><%= link_to "About us", about_path %></li>
          <li><%= link_to "Contact us", about_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>

