<div id="html-editor-image-upload-tab" style="display:none">
  <li>
    <%= render partial: "layouts/image_uploader",
               locals: { container_class: "bootstrap-wysihtml5-insert-image-modal",
                         image_url_class: "bootstrap-wysihtml5-insert-image-url",
                         upload_to: course_file_uploads_path(@course) } %>
    <a class="btn" data-wysihtml5-command="insertImage"><i class="icon-picture"></i></a>
  </li>
</div>

<div id="html-editor-insert-youtube-tab" style="display:none">
  <li>
    <%= render partial: "layouts/insert_youtube" %>
    <div class='btn-group'>                     
    	<a class="btn btn-default" title="Insert Youtube Video" tabindex="-1" data-toggle="modal" data-target="#html-editor-insert-youtube-modal">
    		<span class="icon-facetime-video"></span>
  		</a>
	</div>
  </li>
</div>