<div>
  <h1>Select Files</h1>
  <div id='#file-picker-tree'></div>
  <div>
    <button class="btn btn-primary">
      Done
    </button>
    <button class="btn">
      Cancel
    </button>
  </div>
</div>