<h4>
  <% if @is_subfolder_new[subfolder.id] %>
      <input type="hidden" class="new_<%= subfolder.class.model_name.human.pluralize %>" />
      <img class="asm-new-icon" src="http://c.dryicons.com/images/icon_sets/colorful_stickers_part_3_icons_set/png/256x256/promotion_new.png" alt="New!" />
  <% end %>
  <i class="icon-folder-open"></i> <%= subfolder.name %>
</h4>
