<h4>
  <% if @is_new[mission.id] %>
      <input type="hidden" class="new_<%= mission.class.model_name.human.pluralize %>">
      <img class="asm-new-icon" src="http://c.dryicons.com/images/icon_sets/colorful_stickers_part_3_icons_set/png/256x256/promotion_new.png"/>
  <% end %>
  <%= mission.title %>
</h4>