<div class="row-fluid">
  <div class="span2 sidebar">
    <%= render "layouts/setting_side_bar" %>
  </div>
  <div class="span8 content">
    <div class="clearfix"></div>
    <%= yield %>
  </div>
</div>

