<% user = user_course.user %>
<a class="user-thumb-profile" href="<%= get_social_media_url(@course, user_course)%>">
  <img class="user-profile-pic" src="<%= user.get_profile_photo_url %>" />
</a>
<a>
  <strong><%= user.name %></strong>
</a>

<div class="clearfix"></div>
