<% user = user_course.user %>
<a class="user-thumb-profile" href="<%= get_social_media_url(user_course)%>">
  <img class="user-profile-pic" src="<%= user.get_profile_photo_url %>" />
</a>
<a href="<%= user_course.get_path %>">
  <strong><%= user_course.name %></strong>
</a>

<div class="clearfix"></div>
